.items-basket{
   display: flex;
   justify-content: space-around;
   border-radius: 12px;
   background: #F2F2F3; 
   flex-shrink: 0; 
   align-items: center;
   margin: auto;
   cursor: pointer;
   font-size: 19px;
   font-weight: 587;
 }

.cart-item__img{
   img{
      width: 70px;
      height: 70px;
      margin: 10px 10px 0 10px;
   }
   
}
.cart-item{
   display: flex;
   justify-content: center;
}
.basket-widnow{
   width: 95%;
   text-align:center;
   background-color:#fff;
   border-radius: 18px;
}

.basket{
   width: 20%;
   display: flex;
   justify-content: center;
   padding-top: 122px;
   position: absolute;
   right: 5%;
}
.basket-header{
   height: 60px;
   border-bottom: 1px solid #F2F2F3;;
   width: 86%;
   margin:0 auto;
   h2{
      padding-top: 22px;
      font-size: 24px;
      font-style: normal;
   }
}
.cart-wrapper{
   max-height: 45vh;
   overflow-y:scroll ;
}

/* Работает в Firefox */
.cart-wrapper {
   scrollbar-width: thin;
   scrollbar-color:  #ffab08 #ffffff
 }
 
 /* Работает в Chrome, Edge и Safari */
 .cart-wrapper::-webkit-scrollbar {
   width: 12px;
 }
 
 .cart-wrapper::-webkit-scrollbar-track {
   background: #ffffff;
 }
 
 .cart-wrapper::-webkit-scrollbar-thumb {
   background-color: #ffab08;
   border-radius: 20px;
   border: 3px solid #fff;
 }

 .cart-text{
   margin:10px 10px 0 0 ;
   font-size: 14px;
   text-align: start;
   width: 75px;
 }

 .cart-text-bold{
   padding-top: 5px;
   font-weight: 600;
 }

 .cart-text-weightХ{
   font-size:12px;
   color:#B1B1B1;;
 }


 .basket-empty{
   padding: 50px;
 }

 .basket-plus, .basket-minus{
   padding: 8px 13px;
 }
.basket_order_itog{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  p{
    padding-right: 10px;
    font-size: 20px;
  }
}

.btn-order{
  text-decoration: none;
  color:#F2F2F3;
  background-color: #FF7020;
  padding: 10px 30px;
  border-radius:5px;
  border:none;
  cursor: pointer;
  margin: 30px 0;
}

.basket_order{
  margin-top: 5px;
  border-top: 1px solid #707073;
  

} 

.order_price{
  font-weight: 700;
  font-family: "Nunito";
  padding-top: 5px;
}
.order_price::after{
  content:"₽";  
}