%button-order{
   padding: 12px 70px;
   border: 1px solid $main-color_white;
   font-size: 16px;
   font-weight: 400;
   line-height: 16px;
}

%button-categ{
   padding: 9px 14px;
   border: 1px solid $main-color_white;
   font-size: 16px;
   font-weight: 400;
   line-height: 16px;
   border-radius:25px;
}
